.frameless-page-container {
  container: framelesshomepage / inline-size;
}

.frameless-page {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-block-end: var(--utrecht-page-margin-block-end);
  margin-block-start: var(--utrecht-page-margin-block-start);
  max-inline-size: var(--utrecht-page-max-inline-size);
  padding-block-end: var(--utrecht-page-padding-block-end);
  padding-block-start: var(--utrecht-page-padding-block-start);
  padding-inline-end: var(--utrecht-page-padding-inline-end);
  padding-inline-start: var(--utrecht-page-padding-inline-start);
}

section:nth-of-type(1),
section:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

// DARKMODE
@media (prefers-color-scheme: dark) {
  .frameless-theme {
    --utrecht-page-background-color: var(--utrecht-document-inverse-background-color);
    --utrecht-document-color: var(--utrecht-document-inverse-color);
    --utrecht-paragraph-color: var(--utrecht-document-inverse-color);
    --utrecht-heading-1-color: var(--utrecht-document-inverse-color);
    --utrecht-heading-2-color: var(--utrecht-document-inverse-color);
    --utrecht-heading-3-color: var(--utrecht-document-inverse-color);
    --utrecht-heading-4-color: var(--utrecht-document-inverse-color);
    --utrecht-heading-5-color: var(--utrecht-document-inverse-color);
    --utrecht-heading-6-color: var(--utrecht-document-inverse-color);
    --utrecht-link-color: #ecd8ca;
    --utrecht-link-text-decoration-color: currentColor;
    --frameless-card-background-color: var(--utrecht-document-inverse-background-color);
    --frameless-card-border-color: #ecd8ca;
    --frameless-card-border-width: 1.5px;
  }
}
