.frameless-card {
  border-radius: var(--frameless-card-border-radius);
  font-family: var(--frameless-card-font-family);
  margin-block-start: var(--frameless-card-margin-block-start);
  padding-inline: var(--frameless-card-padding-inline);
}
