.frameless-card {
  background-color: var(--frameless-card-color-background-color);
  border-radius: var(--frameless-card-border-border-radius);
  font-family: var(--frameless-card-font-font-family);
  max-inline-size: var(--frameless-card-spacing-max-width);
  padding-block-end: var(--frameless-card-spacing-padding-block-end);
  padding-block-start: var(--frameless-card-spacing-padding-block-start);
  padding-inline-end: var(--frameless-card-spacing-padding-inline-end);
  padding-inline-start: var(--frameless-card-spacing-padding-inline-start);
}

.frameless-card__content {
  --utrecht-paragraph-margin-block-end: var(--frameless-card-paragraph-margin-block-end);
  --utrecht-space-around: 1;
}

.frameless-card__heading {
  --utrecht-heading-2-font-size: var(--frameless-card-heading-font-size);
  --utrecht-heading-3-font-size: var(--frameless-card-heading-font-size);
  --utrecht-heading-4-font-size: var(--frameless-card-heading-font-size);
  --utrecht-heading-5-font-size: var(--frameless-card-heading-font-size);
  --utrecht-heading-6-font-size: var(--frameless-card-heading-font-size);
  --utrecht-heading-2-margin-block-end: var(--frameless-card-heading-margin-block-end);
  --utrecht-heading-3-margin-block-end: var(--frameless-card-heading-margin-block-end);
  --utrecht-heading-4-margin-block-end: var(--frameless-card-heading-margin-block-end);
  --utrecht-heading-5-margin-block-end: var(--frameless-card-heading-margin-block-end);
  --utrecht-heading-6-margin-block-end: var(--frameless-card-heading-margin-block-end);
  --utrecht-heading-4-line-height: var(--frameless-card-line-height);
  --utrecht-heading-5-line-height: var(--frameless-card-line-height);
  --utrecht-heading-6-line-height: var(--frameless-card-line-height);
  --utrecht-space-around: 1;
}
