@import "~@frameless/components-css";
@import "~@frameless/design-tokens";
@import "~@utrecht/component-library-css";
@import "../../../packages/storybook/src/templates/index";
@import "./font";

.utrecht-document--html-body {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
}
