.frameless-logo__wrapper {
  align-items: center;
  container-name: logowrapper;
  display: flex;
  flex-basis: min-content;
  flex-direction: var(--frameless-logo-wrapper-flex-direction, row);
  gap: var(--frameless-logo-wrapper-gap, 2ch);
  word-break: keep-all;
}

.frameless-logo__text {
  display: inline-block;
  font-family: var(--frameless-logo-text-font-family);
  font-size: var(--frameless-logo-text-font-size);
  font-weight: var(--frameless-logo-text-font-weight);
  letter-spacing: 0.15ch;
  margin-block-end: 0;
  margin-block-start: 0;
  text-transform: var(--frameless-logo-text-text-transform);
}
