.frameless-logo__wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  inline-size: var(--frameless-logo-wrapper-inline-size);
  padding-block: var(--frameless-logo-wrapper-padding-block);
  padding-inline: var(--frameless-logo-wrapper-padding-inline);
}

.frameless-logo__text {
  font-family: var(--frameless-logo-text-font-family);
  font-size: var(--frameless-logo-text-font-size);
  text-transform: uppercase;
}
