.frameless-card-group {
  display: grid;
  gap: var(--frameless-card-group-gap);
  grid-auto-flow: dense;
}

.frameless-card-group__container {
  container-type: inline-size;
}

@container (width >= 600px) {
  .frameless-card-group {
    grid-template-columns: 1fr 1fr;
  }
}

@container (width <= 900px) {
  .frameless-card-group {
    grid-template-columns: 1fr;
  }
}
