.frameless-card-group {
  display: grid;
  gap: var(--frameless-card-group-gap);
  grid-auto-flow: row dense;
  margin-block-end: var(--frameless-card-group-margin-block-end);
  padding-block-end: var(--frameless-card-group-padding-block-end);
  padding-block-start: var(--frameless-card-group-padding-block-start);
}

.frameless-card-group--highlight-last {
  grid-template-columns: 1fr auto;
}

.frameless-card-group__container {
  container-type: inline-size;
}

@container (width >= 650px) {
  .frameless-card-group {
    grid-template-columns: 1fr 1fr;
  }
}
@container (width <= 400px) {
  .frameless-card-group {
    grid-template-columns: 1fr;
  }
}
